@import '../helpers/placeholders';
@import '../helpers/variables';
@import '../helpers/mixins/clearfix';
@import '../helpers/mixins/list-reset';
@import '../helpers/mixins/responsive';

.listing {
    margin: 40px 0 0 20px;
    border: 1px solid $almost-white;
    max-width: 100%;
    padding: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 5px;
    grid-auto-flow: row;

    h2 {
        padding-right: 30px;
    }

    img {
        max-width: 100%;
        min-width: 100px;
    }

    @include media-query(tablet){
        grid-template-columns: repeat(2, auto);
    }

    @include media-query(desktop){
        grid-template-columns: repeat(3, auto);
    }
}

.listing__products {
    text-align: center;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    grid-auto-flow: row;


    @include media-query(mobile_plus){
        grid-template-columns: repeat(2, auto);
        border: 1px solid $almost-white;
    }

    @include media-query(tablet){
        grid-template-columns: repeat(3, auto);
    }

    @include media-query(desktop){
        grid-template-columns: repeat(4, auto);
    }
}

.listing__product {
    padding: 5px;
    border: 1px solid $almost-white;
}

.listing__wrapper {
    @extend %flex;
    padding-bottom: 30px;
}